<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moira.conotebackend.domain.book.mapper.AccountBookMapper">

    <insert id="insertCategory" parameterType="com.moira.conotebackend.domain.book.entity.AccountBookCategory">
        INSERT INTO ACCOUNT_BOOK_CATEGORY (
               group_id
             , name
             , created_at
        )
        VALUES (
               #{groupId}
             , #{name}
             , CURRENT_TIMESTAMP
        )
    </insert>
</mapper>